{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Left Sidebar - Solarize by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
	    <link rel="stylesheet" type="text/css" href="{% static 'css/skel.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">	
	</head>
	<body>
		<!-- Header Wrapper -->
			<div class="wrapper style1">
				<!-- Header -->
					<div id="header">
						<div class="container">			
							<!-- Logo -->
								<h1><a href="/" id="logo">Vita Ticket</a></h1>	
							<!-- Nav -->
								<nav id="nav">
									<ul>
									<li><a href="/">Home</a></li>
									<li><a>Account</a>
									  <ul>
                                        {% if user.is_anonymous %}
											<li><a href="/accounts/register/">Sign up</a></li>
											<li><a href="/accounts/login/">sign in</a></li>	
                                        {% else %}
                                            <li><a href="/my_account">My Account</a></li>
                                        {% endif %}			
                                     </ul>
								  </li>
									<li><a href="/events">Events</a></li>
                                    <li><a href="/about_us">About Us</a></li>
									</ul>
								</nav>
						</div>
					</div>
			</div>
		
		<!-- Main -->
			<div id="main" class="wrapper style4">
				<div class="container">
					<div class="row">

						<!-- Sidebar -->
						<div id="sidebar" class="4u">
							<section>
								<header class="major">
								  <h2>About Us</h2>
								</header>									
								<ul class="default unstyled">
									<li><a href="/homepage">Homepage</a></li>
									<li><a href="/events">Events</a></li>
                                    {% if user.is_anonymous %}
										<li><a href="/accounts/register/">Sign up</a></li>
										<li><a href="/accounts/login/">sign in</a></li>	
                                   {% else %}
                                        <li><a href="/my_account">My Account</a></li>
                                    {% endif %}			
                                    </ul>
									<li><a href="#http://localhost:8000/about_us#">Contact Us</a></li>

								</ul>
							</section>
							<section>
								<header class="major"></header>
									
							</section>
						</div>

						<!-- Content -->
						<div id="content" class="8u skel-cell-important">
							<section>
								<header class="major">
									<h2>Mission Statement</h2>
                                    
										<div style = "padding-top: 40px">Eliminating scalping one ticket at a time. </div>
								</header>
								
								<p>Vita Tickets a user friendly ticket development for your financial ticketing service needs. We provide the convience for layaway in your ticket purchasing experience to save you time and money. Our goal in this company is to eliminate second hand ticket vending that is over-priced to the consumer at face vaule.</p>
                                
                                <p>Started in Metro Detroit with just an idea in mind and a care for the customer; we at Vita Ticket strive for a quality experience in using our services. To learn more about the team and the developers please scroll down and click on each team members face. </p>
							</section>
						</div>
					</div>
				</div>
			</div>
		
		<!-- Team -->
			<div class="wrapper style5">
				<section id="team" class="container">
					<header class="major">
						<h2>Vita Ticket Developers</h2>
						<span class="byline">Team Bio</span>
					</header>
					<div class="row">
						<div class="3u">
							<a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
							<h3>Fadi Alnabolsi</h3>
							<p>"Just your friendly neighborhood Fads."</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
							<h3>Daniel Balent</h3>
							<p>"Bandages? You mean bitch stickers."</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
							<h3>Samia Chahine</h3>
							<p>"My spirit animal is Kalisi, mother of dragons."</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
							<h3>Calvin Yang</h3>
							<p>"What do you call a rich asian? Cha-Ching."</p>
						</div>
                        <div class="3u">
							<a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
							<h3>Armando Arteaga</h3>
							<p>"My name is actually Alejandro."</p>
						</div>
</div>
				</section>
			</div>

	<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>Connect with us</h2>
				</header>
				<ul class="icons">
					<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
				<hr />
			</section>
			
			<!-- Copyright -->
				<div id="copyright">
					Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
				</div>			
		</div>

	</body>
</html>
