{% load staticfiles %}

<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Sign_Up</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="../../static/js/jquery.min.js"></script>
		<script src="../../static/js/jquery.dropotron.min.js"></script>
		<script src="../../static/js/skel.min.js"></script>
		<script src="../../static/js/skel-layers.min.js"></script>
		<script src="../../static/js/init.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/homepage/skel.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/homepage/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header Wrapper -->
			<div class="wrapper style1">
			
				<!-- Header -->
				  <div id="header">
						<div class="container">
								
							<!-- Logo -->
								<h1><a href="#" id="logo">Events</a></h1>
							
							<!-- Nav -->
								<nav id="nav">
									<ul>
										<li class="active"><a href="index.html">Home</a></li>																										
													<li><a href="">account</a></li>
										<li><a href="artists.html">Events</a></li>
										<li><a href="tickets.html">Ticket </a></li>
										<li><a href="About.html">about us</a></li>
									</ul>
								</nav>
						</div>
					</div>
			</div>
		
		<!-- Main -->
			<div id="main" class="wrapper style4">
				<div class="container">
					<div class="row">

						<!-- Sidebar -->
						<div id="sidebar" class="4u">
						  <section>
							<header class="major">
									<h2>Events coming up</h2>
							  </header>
</section>
</div>

						<!-- Content -->
						<div id="content" class="8u skel-cell-important">
							<section>
								<header class="major">
									<h2>Where In Town</h2>
								  <span class="byline">filter</span>
								</header>
								<p>Snoop Dog</p>
                                <a href=""><p>Detroit, MI</p>
                                				<p>Russell Industrial Center</p>
                                                <p>Sunday, May 22, 2016, 8:00 PM </p></a>
                                                <p>Dubfire</p>
                                <a href=""><p>Detroit, MI</p>
                                           <p>Masonic Temple</p>
                                           <p>Saturday, May 28, 2016, 11:00 PM </p></a>

<p>Disney's beauty and the beast</p>
                                <a href=""><p>Detroit, MI</p>
                                 <p>Fox Theater</p>
                                 <p>Sunday, May 22, 2016, 6:30 PM.</p></a>
                                           <a href=""><p>Detroit, MI</p>
                                				<p>Russell Industrial Center</p>
                                                <p>Sunday, May 22, 2016, 8:00 PM </p></a>
                                                <p>Dubfire</p>
                                <a href=""><p>Detroit, MI</p>
                                           <p>Masonic Temple</p>
                                           <p>Saturday, May 28, 2016, 11:00 PM </p></a>

<p>Disney's beauty and the beast</p>
                                <a href=""><p>Detroit, MI</p>
                                 <p>Fox Theater</p>
                                 <p>Sunday, May 22, 2016, 6:30 PM.</p></a>
                               
                              
                              
                              
							</section>
						</div>
					</div>
				</div>
			</div>
		
		<!-- Team -->
	<!-- Footer -->
		
	</body>
</html>
