{% load staticfiles %}

<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Sign In</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="../../static/js/jquery.min.js"></script>
		<script src="../../static/js/jquery.dropotron.min.js"></script>
		<script src="../../static/js/skel.min.js"></script>
		<script src="../../static/js/skel-layers.min.js"></script>
		<script src="../../static/js/init.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/homepage/skel.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/homepage/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
<!-- Header Wrapper -->
			<div class="wrapper style1">
			
				<!-- Header -->
					<div id="header">
						<div class="container">
								
							<!-- Logo -->
								<h1><a href="/" id="logo">Vita Ticket</a></h1>
							
							<!-- Nav -->
								<nav id="nav">
									<ul>
										<li class="active"><a href="/">Home</a></li>	
								</nav>
						</div>
					</div>
			</div>
		
		<!-- Section One -->
			
		<!-- Section Two -->
	<div class="wrapper style3">
				<section class="container">
					<header class="major">
					  <h2>Sign In</h2>
					</header>

					<form action="/accounts/auth/" method="post">{% csrf_token %}
						<label for="username">User Name:</label>
						<input type="text" name="username" value="" id="username" class="input-group">
						
						<label for="password">Password: </label>
						<input type="password" name="password" value="" id="password" class="input-group">

						<input type="submit" value="Login" class="btn btn-primary" />
					</form>	
	<!-- Footer -->
		</div>
</html>
